.vscode
.vscode-test-web
out/
src/
tsconfig.json
webpack.config.js
*.scm

node_modules/queue-microtask
node_modules/is-plain-obj
node_modules/pend
node_modules/vscode-uri
node_modules/fd-slicer
node_modules/callsites
node_modules/tapable
node_modules/reusify
node_modules/chainsaw
node_modules/fs-constants
node_modules/destroy
node_modules/@types
node_modules/globals
node_modules/@xtuc
node_modules/browserslist
node_modules/on-headers
node_modules/flat
node_modules/process-nextick-args
node_modules/shebang-regex
node_modules/exenv-es6
node_modules/path-is-absolute
node_modules/json-parse-even-better-errors
node_modules/duplexer2
node_modules/.bin
node_modules/jest-worker
node_modules/@tootallnate
node_modules/toidentifier
node_modules/isobject
node_modules/path-type
node_modules/buffer-alloc-unsafe
node_modules/@webpack-cli
node_modules/@vscode/test-electron
node_modules/@vscode/test-web
node_modules/make-dir
node_modules/strip-ansi
node_modules/buffers
node_modules/content-type
node_modules/pkg-dir
node_modules/flatted
node_modules/loose-envify
node_modules/import-local
node_modules/mocha
node_modules/agent-base
node_modules/he
node_modules/ms
node_modules/content-disposition
node_modules/webpack-sources
node_modules/methods
node_modules/acorn-import-assertions
node_modules/playwright-core
node_modules/prelude-ls
node_modules/node-releases
node_modules/escape-string-regexp
node_modules/has-tostringtag
node_modules/.DS_Store
node_modules/strip-json-comments
node_modules/lru-cache
node_modules/imurmurhash
node_modules/bl
node_modules/eslint-scope
node_modules/type-fest
node_modules/commander
node_modules/workerpool
node_modules/punycode
node_modules/require-directory
node_modules/depd
node_modules/core-util-is
node_modules/chrome-trace-event
node_modules/text-table
node_modules/rimraf
node_modules/escalade
node_modules/fast-json-stable-stringify
node_modules/ylru
node_modules/tsscmp
node_modules/decompress-tarbz2
node_modules/balanced-match
node_modules/path-exists
node_modules/resolve
node_modules/http-assert
node_modules/@eslint
node_modules/eslint-utils
node_modules/deep-equal
node_modules/base64-js
node_modules/glob-to-regexp
node_modules/watchpack
node_modules/nanoid
node_modules/fastest-levenshtein
node_modules/buffer-crc32
node_modules/acorn
node_modules/file-entry-cache
node_modules/@nodelib
node_modules/basic-auth
node_modules/encodeurl
node_modules/pinkie-promise
node_modules/wrap-ansi
node_modules/y18n
node_modules/once
node_modules/is-generator-function
node_modules/regexpp
node_modules/ignore
node_modules/serialize-javascript
node_modules/esrecurse
node_modules/string_decoder
node_modules/tslib
node_modules/file-type
node_modules/shallow-clone
node_modules/argparse
node_modules/picomatch
node_modules/safe-buffer
node_modules/function-bind
node_modules/is-glob
node_modules/source-map-support
node_modules/ee-first
node_modules/is-fullwidth-code-point
node_modules/typescript
node_modules/co
node_modules/flat-cache
node_modules/yargs-parser
node_modules/inherits
node_modules/koa-convert
node_modules/browser-stdout
node_modules/dir-glob
node_modules/anymatch
node_modules/color-name
node_modules/decamelize
node_modules/chokidar
node_modules/p-locate
node_modules/fresh
node_modules/setimmediate
node_modules/terser-webpack-plugin
node_modules/@typescript-eslint
node_modules/@ungap
node_modules/js-yaml
node_modules/eslint-visitor-keys
node_modules/decompress
node_modules/pify
node_modules/rechoir
node_modules/parent-module
node_modules/@humanwhocodes
node_modules/buffer-alloc
node_modules/is-binary-path
node_modules/koa-mount
node_modules/decompress-unzip
node_modules/path-to-regexp
node_modules/tar-stream
node_modules/run-parallel
node_modules/p-limit
node_modules/diff
node_modules/mime-types
node_modules/big-integer
node_modules/unbzip2-stream
node_modules/json-schema-traverse
node_modules/end-of-stream
node_modules/natural-compare
node_modules/type-is
node_modules/minimist
node_modules/is-stream
node_modules/xtend
node_modules/playwright
node_modules/esutils
node_modules/find-up
node_modules/chalk
node_modules/ansi-regex
node_modules/enhanced-resolve
node_modules/through
node_modules/decompress-targz
node_modules/has-flag
node_modules/supports-color
node_modules/tabbable
node_modules/vary
node_modules/supports-preserve-symlinks-flag
node_modules/webpack-cli
node_modules/color-convert
node_modules/path-key
node_modules/merge-stream
node_modules/readdirp
node_modules/decompress-tar
node_modules/resolve-cwd
node_modules/brace-expansion
node_modules/schema-utils
node_modules/fill-range
node_modules/json-stable-stringify-without-jsonify
node_modules/yargs-unparser
node_modules/binary-extensions
node_modules/get-caller-file
node_modules/util-deprecate
node_modules/word-wrap
node_modules/path-parse
node_modules/webpack
node_modules/has-symbols
node_modules/keygrip
node_modules/buffer-fill
node_modules/kind-of
node_modules/picocolors
node_modules/.package-lock.json
node_modules/clone-deep
node_modules/ansi-colors
node_modules/ieee754
node_modules/strip-dirs
node_modules/pinkie
node_modules/slash
node_modules/koa-morgan
node_modules/@microsoft
node_modules/doctrine
node_modules/bluebird
node_modules/semver
node_modules/http-errors
node_modules/minimatch
node_modules/accepts
node_modules/webpack-merge
node_modules/listenercount
node_modules/envinfo
node_modules/fstream
node_modules/estraverse
node_modules/ajv-keywords
node_modules/ansi-styles
node_modules/is-core-module
node_modules/js-tokens
node_modules/to-buffer
node_modules/negotiator
node_modules/acorn-jsx
node_modules/ts-loader
node_modules/unzipper
node_modules/is-natural-number
node_modules/is-number
node_modules/koa-send
node_modules/fs.realpath
node_modules/levn
node_modules/yocto-queue
node_modules/lodash.merge
node_modules/concat-map
node_modules/tsutils
node_modules/get-stream
node_modules/cache-content-type
node_modules/update-browserslist-db
node_modules/interpret
node_modules/es-module-lexer
node_modules/@webassemblyjs
node_modules/randombytes
node_modules/optionator
node_modules/uri-js
node_modules/cliui
node_modules/object-assign
node_modules/cross-spawn
node_modules/yargs
node_modules/traverse
node_modules/espree
node_modules/only
node_modules/eslint
node_modules/glob
node_modules/esquery
node_modules/import-fresh
node_modules/has
node_modules/fast-levenshtein
node_modules/neo-async
node_modules/binary
node_modules/to-regex-range
node_modules/delegates
node_modules/wildcard
node_modules/source-map
node_modules/array-union
node_modules/buffer-indexof-polyfill
node_modules/is-unicode-supported
node_modules/escape-html
node_modules/statuses
node_modules/https-proxy-agent
node_modules/morgan
node_modules/resolve-path
node_modules/string-width
node_modules/events
node_modules/yallist
node_modules/parseurl
node_modules/terser
node_modules/@jridgewell
node_modules/yauzl
node_modules/log-symbols
node_modules/p-try
node_modules/camelcase
node_modules/isarray
node_modules/micromatch
node_modules/wrappy
node_modules/seek-bzip
node_modules/http-proxy-agent
node_modules/fast-glob
node_modules/v8-compile-cache
node_modules/is-plain-object
node_modules/resolve-from
node_modules/@koa
node_modules/is-extglob
node_modules/fastq
node_modules/caniuse-lite
node_modules/merge2
node_modules/koa-static
node_modules/deep-is
node_modules/colorette
node_modules/react
node_modules/functional-red-black-tree
node_modules/buffer-from
node_modules/braces
node_modules/which
node_modules/ajv
node_modules/emoji-regex
node_modules/cookies
node_modules/readable-stream
node_modules/type-check
node_modules/locate-path
node_modules/@discoveryjs
node_modules/mkdirp
node_modules/graceful-fs
node_modules/on-finished
node_modules/loader-runner
node_modules/globby
node_modules/normalize-path
node_modules/fsevents
node_modules/koa-compose
node_modules/fast-deep-equal
node_modules/shebang-command
node_modules/electron-to-chromium
node_modules/debug
node_modules/glob-parent
node_modules/media-typer
node_modules/buffer
node_modules/mime-db
node_modules/isexe
node_modules/koa
node_modules/inflight
node_modules/setprototypeof